<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Editando <b>MERCADORIA</b></div>
        <div class="card-body">
            <form method="POST" action="/merchandise/create">
                <div class="col-md-6 mb-3">
                    <div class="form-label-group">
                        <input type="text" name="name" class="form-control" value="{{name}}" required="required">
                        <label for="name">Nome</label>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="form-label-group">
                        <input type="number" name="code" class="form-control" value="{{code}}">
                        <label for="code">Código do Produto</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-label-group mb-3">
                        <select class="form-control" name="category">
                            <option value="{{category}}">Selecione uma categoria</option>
                            {{#each categories}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                    <div class="col-md-6">
                        <div class="form-label-group mb-3">
                            <input type="text" name="sellPrice" class="form-control" value="{{sellPrice}}">
                            <label for="sellPrice"><small>Valor de venda</small> R$</label>
                        </div>
                        <div class="form-label-group mb-3">
                            <input type="text" name="buyPrice" class="form-control" value="{{buyPrice}}">
                            <label for="buyPrice"><small>Valor de compra</small> R$</label>
                        </div>
                    </div>

                    <div class="row">
                        <button type="submit" class="ml-3 btn btn-primary btn-md">Salvar</button>
                        <a href="/merchandise" class="ml-3 btn btn-danger btn-md">Cancelar</a>
                    </div>
            </form>
        </div>
    </div>
</div>