<body id="page-top">
    {{>_navbar}}
  <div id="wrapper">
    {{>_sidebar}}
    <div id="content-wrapper">
      <div class="container-fluid">
        {{>_breadcumbs}}
        
    <!-- Page Content -->
      {{>_cards}}
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Document</th>
                    <th></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Document</th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody>
                  {{#each customer}}
                  <tr>
                    <td>{{name}}</td> 
                    <td>{{phone}}</td>
                    <td>{{address}}</td>
                    <td>{{email}}</td>
                    <td>{{document}}</td>
                    <td>
                      <div class="form-row ml-3">
                        <form action="/customer/delete" method="POST">
                          <input type="hidden" name="id" value="{{_id}}">
                          <button onclick="deleteCheck()" type="submit" class="mr-1 btn btn-danger btn-sm"><i class="fas fa-user-times"></i></button>
                        </form>
                        <a href="/customer/edit/{{_id}}" class="ml-1 btn btn-dark btn-sm"><i class="fas fa-edit"></i></td></a>
                      </div>
                  </tr>
                </tbody>
                {{/each}}
              </table>
            </div>
          </div>
    
      </div>
    <!-- /.container-fluid -->

    {{>_footer}}
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  {{>_logout}}
  {{>_scrolltop}}
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>
</body>
</html>